/* normalize должен быть первым */
@import "modern-normalize";

/* Tailwind v3 директивы */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* === Цветовые переменные (light/dark) === */
:root {
  --dark-gray: #2e2e2e;
  --green: #3c6e47;
  --yellow: #eeba2b;
  --red: #d14b46;
  --light-gray: #b6ccd7;
  --off-white: #f2f2f2;

  --font-main: "Roboto", sans-serif;
  --font-heading: "Montserrat", sans-serif;

  --font-size-base: 16px;
  --font-size-heading: 24px;
  --font-size-small: 14px;
}

.dark {
  --dark-gray: #f2f2f2;
  --off-white: #2e2e2e;
  --green: #3c6e47;
  --yellow: #eeba2b;
  --red: #d14b46;
  --light-gray: #b6ccd7;
}

/* === Базовая типографика === */
body {
  @apply bg-offWhite text-darkGray font-main text-base antialiased transition-colors;
}
