.logoLink {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo {
  display: flex;
  align-items: center;
}

.logoText {
  font-family: var(--font-heading);
  font-size: var(--font-size-heading);
  color: var(--yellow);
  text-transform: uppercase;
}
