.navigation {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.navigation a {
  color: var(--yellow);
  font-size: var(--font-size-base);
  padding: 10px;
  border-radius: 8px;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.navigation a:hover {
  background-color: var(--yellow);
  color: var(--dark-gray);
}


