.wrapper {
  background-color: var(--off-white);
  padding: 20px;
  border-radius: 32px;
  width: 100%;
  max-width: 360px;
  margin: 0 auto;
}

.title {
  text-align: center;
  color: var(--dark-gray);
  margin-bottom: 30px;
}

.description {
  line-height: 1.55;
  text-align: center;
  color: var(--dark-gray);
  margin-bottom: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.label {
  display: block;
  font-size: var(--font-size-small);
  font-weight: bold;
  color: var(--dark-gray);
}

.inputWrapper {
  position: relative;
  margin-bottom: 16px;
}

.input {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  font-size: var(--font-size-base);
  border: 1px solid var(--light-gray);
  border-radius: 8px;
  background-color: var(--off-white);
  color: var(--dark-gray);
  transition: border-color 0.3s ease;

  &:focus {
    border-color: var(--green);
    outline: none;
  }

  &.inputError {
    border-color: var(--red);
  }
}

.eyeButton {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

.eyeIcon {
  font-size: 18px;
  color: var(--dark-gray);
}

.error {
  font-size: var(--font-size-small);
  color: var(--red);
  margin-top: 4px;
}

button {
  background-color: var(--yellow);
  color: var(--off-white);
  border: none;
  padding: 12px 20px;
  font-size: var(--font-size-base);
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #d79e2d;
  }
}

/* Медиазапрос для маленьких экранов */
@media (max-width: 480px) {
  .wrapper {
    padding: 24px 16px; /* Уменьшаем отступы */
  }

  .title {
    font-size: 24px; /* Меньший размер шрифта */
    margin-bottom: 16px; /* Меньше расстояние до текста */
  }

  .description {
    font-size: 14px; /* Меньший размер шрифта */
    margin-bottom: 16px; /* Меньше расстояние до текста */
  }

  .input {
    font-size: 14px; /* Меньше размер шрифта */
    padding: 10px; /* Меньше внутренние отступы */
  }

  .button {
    padding: 10px 16px; /* Меньше отступы в кнопке */
  }
}

/* Медиазапрос для экранов меньше 320px */
@media (max-width: 320px) {
  .wrapper {
    padding: 16px 10px; /* Уменьшаем отступы для еще меньших экранов */
    max-width: 100%; /* Убираем ограничение по максимальной ширине */
  }

  .title {
    font-size: 20px; /* Уменьшаем размер шрифта */
    margin-bottom: 12px; /* Меньше расстояние до текста */
  }

  .description {
    font-size: 12px; /* Еще меньше шрифт */
    margin-bottom: 12px; /* Меньше расстояние до текста */
  }

  .form {
    gap: 12px; /* Меньше расстояние между полями формы */
  }

  .input {
    font-size: 12px; /* Меньше размер шрифта */
    padding: 8px; /* Меньше внутренние отступы */
  }

  .button {
    padding: 8px 14px; /* Уменьшаем отступы в кнопке */
  }
}

