.wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.username {
  font-size: var(--font-size-base);
  color: var(--dark-gray);
}

button {
  background-color: var(--red);
  color: white;
  font-size: var(--font-size-base);
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #d14b46;
}
